@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== BASE ==== */
@layer base {
  .font-primary {
    font-family: "Noto Sans", sans-serif;
  }
}

/* ==== UTILITIES ==== */
@layer utilities {
  /* === MORE === */
  .transition-300,
  .transition {
    @apply transition-all duration-300;
  }

  /* === BUTTON VARIENTS === */
  .filled {
    @apply text-white bg-black text-center focus:outline-none outline-none;

    &.primary {
      @apply bg-primary hover:bg-primaryHover border-none dark:bg-primary dark:hover:bg-primaryHover;
    }
    &.accent {
      @apply bg-accent hover:bg-violet-700 border-none dark:bg-accent dark:hover:bg-violet-700;
    }
    &.secondary {
      @apply text-gray-800 bg-gray-200 hover:bg-gray-400 border   border-gray-400  dark:bg-gray-200 dark:hover:bg-gray-300;
    }
    &.success {
      @apply bg-success hover:bg-green-600 border-none dark:bg-success dark:hover:bg-green-600;
    }
    &.danger {
      @apply bg-danger hover:bg-red-600 border-none dark:bg-danger dark:hover:bg-red-600;
    }
    &.warning {
      @apply bg-warning hover:bg-blue-700 border-none dark:bg-warning dark:hover:bg-blue-700;
    }
    &.info {
      @apply bg-info hover:bg-blue-700 border-none dark:bg-warning dark:hover:bg-info;
    }
    &.dark {
      @apply bg-gray-900 border-none hover:bg-gray-950;
    }
    &.light {
      @apply text-black bg-white hover:bg-gray-100 border-none  dark:bg-white dark:hover:bg-white;
    }
    &.disabled {
      @apply text-gray-400 bg-gray-200  border-gray-400 dark:bg-gray-200;
    }
  }

  .outline {
    @apply text-black text-center border outline-none focus:outline-none hover:text-white border-black;

    &.primary {
      @apply text-primary border-primary hover:text-white hover:bg-primary dark:hover:bg-primaryHover;
    }
    &.accent {
      @apply text-accent border-accent hover:text-white hover:bg-accent dark:hover:bg-accent;
    }
    &.secondary {
      @apply text-gray-800  border-gray-400 hover:text-white hover:bg-gray-400 ring-0 dark:text-white dark:hover:bg-gray-800;
    }
    &.success {
      @apply text-success border border-success hover:text-white hover:bg-success ring-0  dark:hover:bg-success;
    }
    &.danger {
      @apply text-danger text-center hover:text-white  border-danger hover:bg-danger dark:hover:bg-danger;
    }
    &.warning {
      @apply text-warning text-center hover:text-white hover:bg-warning  border-warning  dark:hover:bg-warning;
    }
    &.info {
      @apply text-info text-center  hover:text-white hover:bg-info border-info dark:hover:bg-info;
    }
    &.dark {
      @apply text-black text-center  hover:text-white hover:bg-black border-black;
    }
    &.light {
      @apply text-white  hover:text-black border-white  dark:hover:bg-white;
    }
    &.disabled {
      @apply text-gray-400  border-gray-400;
    }
  }

  .translucent {
    @apply text-black text-center bg-black/10 outline-none focus:outline-none;

    &.primary {
      @apply text-primary bg-primary/10  hover:bg-primary/20 dark:bg-primary/20 dark:hover:bg-primary/30;
    }
    &.accent {
      @apply text-accent bg-accent/10  hover:bg-accent/20 dark:bg-accent/20 dark:hover:bg-accent/30;
    }
    &.success {
      @apply text-success bg-success/10  hover:bg-success/20 dark:bg-success/20 dark:hover:bg-success/30;
    }
    &.danger {
      @apply text-danger bg-danger/10  hover:bg-danger/20 dark:bg-danger/20 dark:hover:bg-danger/30;
    }
    &.warning {
      @apply text-warning bg-warning/10  hover:bg-warning/20 dark:bg-warning/20 dark:hover:bg-warning/30;
    }
    &.info {
      @apply text-info bg-info/10  hover:bg-info/20 dark:bg-info/20 dark:hover:bg-info/30;
    }
    &.dark {
      @apply text-black bg-black/10  hover:bg-black/20;
    }
    &.light {
      @apply text-white bg-white/10  dark:bg-white/20 dark:hover:bg-white/30;
    }
    &.disabled {
      @apply text-gray-500 bg-black/10   dark:bg-black/20;
    }
  }

  /* .icon-primary {
    @apply text-primary text-center bg-primary/10 hover:text-white  hover:bg-primary  ring-0 dark:bg-primary/10 dark:hover:bg-primary focus:outline-none;
  }
  .icon-accent {
    @apply text-accent text-center bg-accent/10 hover:bg-accent hover:text-white ring-0 dark:bg-accent dark:hover:bg-accent focus:outline-none;
  }
  .icon-success {
    @apply text-success text-center bg-success/10 hover:bg-success hover:text-white ring-0 dark:bg-success/10 dark:hover:bg-success/20 focus:outline-none;
  }
  .icon-danger {
    @apply text-danger text-center bg-danger/10 hover:bg-danger hover:text-white ring-0 dark:bg-danger/10 dark:hover:bg-danger/20 focus:outline-none;
  }
  .icon-warning {
    @apply text-warning text-center bg-warning/10 hover:bg-blue-700 hover:text-white ring-0 dark:bg-warning/10 dark:hover:bg-warning/20 focus:outline-none;
  }
  .icon-info {
    @apply text-info text-center bg-info/10 hover:bg-blue-700 hover:text-white ring-0 dark:bg-info/10 dark:hover:bg-info/20 focus:outline-none;
  }
  .icon-dark {
    @apply text-black text-center bg-gray-900/10 hover:bg-gray-950 hover:text-white ring-0 dark:bg-gray-900/10 dark:hover:bg-black/20 focus:outline-none;
  }
  .icon-light {
    @apply text-black text-center bg-white/10 hover:bg-gray-100 hover:text-white ring-0 dark:bg-white/10 dark:hover:bg-white/20 focus:outline-none;
  } */

  /* Shapes */
  .shape-pill {
    @apply rounded-full;
  }
  .shape-rounded {
    @apply rounded-lg;
  }
  .shape-square {
    @apply rounded-none;
  }
  .shape-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    @apply rounded-full;
  }
  .shape-s-pill {
    @apply rounded-s-full;
  }
  .shape-e-pill {
    @apply rounded-e-full;
  }
  .shape-s-rounded {
    @apply rounded-s-lg;
  }
  .shape-e-rounded {
    @apply rounded-e-lg;
  }

  /* Size */
  .btn-lg {
    padding: 14px 32px;
    @apply text-sm font-bold leading-6;
  }
  .btn-md {
    padding: 10px 24px;
    @apply text-sm font-bold leading-6;
  }
  .btn-sm {
    padding: 8px 20px;
    @apply text-sm font-bold leading-6;
  }
  .btn-xs {
    padding: 6px 16px;
    @apply text-xs font-normal leading-6;
  }
  .circle-md {
    width: 32px;
    height: 32px;
    padding: 12px;
  }
  .circle-lg {
    width: 48px;
    height: 48px;
    padding: 12px;
    @apply text-xl;
  }
  .icon-lg {
    @apply text-xl align-bottom px-5 py-3;
  }
  .icon-md {
    @apply text-xl align-bottom px-4 py-2;
  }
  .icon-sm {
    @apply text-xl align-bottom px-4 py-1.5;
  }

  /* === CARD === */
  /* Card Heart Iconbox Hover */
  .card-heart-icon {
    opacity: 0;
    transform: translateX(100%);
  }

  .card:hover .card-heart-icon {
    opacity: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }

  /* === ICON BOX === */
  .circle {
    @apply shape-circle;

    &.primary {
      @apply text-primary bg-primary/10;
    }
    &.accent {
      @apply text-accent bg-accent/10;
    }
    &.success {
      @apply text-success bg-success/10;
    }
    &.danger {
      @apply text-danger bg-danger/10;
    }
    &.warning {
      @apply text-warning bg-warning/10;
    }
    &.info {
      @apply text-info bg-info/10;
    }
    &.dark {
      @apply text-black bg-black/10;
    }
    .icon-light {
      @apply text-white bg-white/10;
    }
  }

  .circle-gray {
    @apply shape-circle bg-white;

    &.primary {
      @apply text-primary;
    }
    &.accent {
      @apply text-accent;
    }
    &.success {
      @apply text-success;
    }
    &.danger {
      @apply text-danger;
    }
    &.warning {
      @apply text-warning;
    }
    &.info {
      @apply text-info;
    }
    &.dark {
      @apply text-black;
    }
    .icon-light {
      @apply text-white;
    }
  }

  .icon-box:hover .primary {
    @apply bg-primary text-white transition-300;
  }
  .icon-box:hover .accent {
    @apply bg-accent text-white transition-300;
  }
  .icon-box:hover .success {
    @apply bg-success text-white transition-300;
  }
  .icon-box:hover .danger {
    @apply bg-danger text-white transition-300;
  }
  .icon-box:hover .warning {
    @apply bg-warning text-white transition-300;
  }
  .icon-box:hover .info {
    @apply bg-info text-white transition-300;
  }
  .icon-box:hover .dark {
    @apply bg-black text-white transition-300;
  }
  .icon-box:hover .dark {
    @apply bg-white text-black transition-300;
  }

  /* === FORM STYLE === */
  /* Required */
  .required-mark {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
  }

  /* Form label */
  .form-label-gray {
    @apply text-base text-gray-900 dark:text-gray-400;
  }
  .form-label-green {
    @apply text-base text-green-700;
  }
  .form-label-disabled {
    @apply text-base text-gray-400;
  }

  /* FORM INPUT */
  .form-input-gray {
    @apply bg-white border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-0 outline-none block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-0 dark:focus:border-gray-400;
  }
  .form-input-green {
    @apply bg-green-100 border border-gray-300 text-green-800 text-sm rounded-lg  focus:outline-none focus:ring-0 outline-none focus:border-green-500 block w-full  dark:bg-green-700 dark:border-green-600 dark:focus:outline-none dark:placeholder-gray-400 dark:text-white  dark:focus:border-green-500 dark:focus:ring-0;
  }
  .form-input-search {
    @apply block text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  /* Form Input Size */
  .form-input-size-lg {
    @apply w-full p-3.5;
  }
  .form-input-size-md {
    @apply w-full p-2.5;
  }
  .form-input-size-sm {
    @apply w-full p-2;
  }

  /* Search Input Size */
  .form-search-size-default {
    @apply w-full p-4 pl-10;
  }

  /* FORM CHECKBOX */
  .checkbox-primary {
    @apply w-5 h-5 text-primary bg-gray-100 border-2 border-primary rounded focus:ring-0 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-primary cursor-pointer;
  }
  .checkbox-inactive {
    @apply w-5 h-5 text-blue-600 bg-gray-100  border-2 border-gray-300 rounded focus:ring-0 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 cursor-pointer;
  }
  .checkbox-disabled {
    @apply w-5 h-5 text-gray-400 bg-gray-100 disabled border-2 border-gray-300 rounded focus:ring-0 dark:ring-offset-gray-800 dark:bg-gray-400 dark:border-gray-600 cursor-pointer;
  }
  .checkbox-gray {
    @apply w-5 h-5 text-blue-600 bg-gray-100  border-2 border-gray-300 rounded focus:ring-0 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 cursor-pointer;
  }
  .checkbox-green {
    @apply w-5 h-5  text-green-600 bg-green-600  border-2 border-gray-300 rounded  focus:ring-0  dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 cursor-pointer;
  }

  /* -------- OLD --------- */
  .gradient {
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
  }

  .color-primary {
    @apply bg-slate-300 text-slate-700;
  }

  /* Typography  */
  .description-text {
    @apply text-sm text-slate-600 dark:text-gray-300;
  }
  .description-sm-text {
    @apply text-gray-500 font-light text-xs dark:text-gray-400;
  }
  .paragraph-primary {
    @apply text-sm text-gray-500 font-light  dark:text-gray-400;
  }

  /* icons */
  .single-text-circle {
    @apply bg-secondary whitespace-nowrap mt-1 w-6 h-6 md:w-8 md:h-8 text-slate-100 text-base md:text-xl rounded-full flex justify-center flex-shrink-0  items-center;
  }

  /* Form */
  .form-label {
    @apply text-sm font-medium text-gray-600 dark:text-white;
  }

  .input-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-0 focus:ring-0 focus:border-slate-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-0;
  }

  .check-input {
    @apply w-4 h-4 cursor-pointer bg-gray-100 border-gray-300 rounded focus:ring-0 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600;
  }
}
